.nav {
  display: inline-flex;
  align-items: center;
  height: 40px;
  padding: 2px;
  gap: 2px;
  border-radius: 10px;
  background-color: #3C3B43;
  width: 550px;
}

.navItem {
  background: none;
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
  transition: background 0.2s ease;
  padding: 8px 16px;
  white-space: nowrap;
  flex-shrink: 0;
}

.navItem:hover {
  background-color: #4A4B57;
  color: #ffffff;
}

.active {
  background-color: #ffffff;
  color: #2D2C32;
  font-weight: 600;
}