*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html,
body {
  height: 100%;
  background-color: #2D2C32;
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  font-weight: 560;
  line-height: 20px;
  color: #fff;
  font-style: normal;


}

:root {
  --grid-right-max-width: 1274px;
  --grid-right-gap: 24px;
  --grid-right-padding: 24px;
}

@media (max-width: 480px) {}