.page {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #2D2C32;
}

.content {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
    height: 912px;
    overflow: hidden;
    padding: var(--grid-right-padding);
    gap: var(--grid-right-gap);
}

.topRow {
    display: flex;
    align-items: center;
    height: 92px;
    padding-left: 12px;
}